
body {
  color: #ffffff;
  background-color: #17222A;
  margin: 0px;
  overflow: hidden;
}
#info {
  position: absolute;
  pointer-events:none;
  bottom: 0px;
  width: 350px;
  margin-left: 20px;
  font-size: 13px;
  text-align: left;
  font-weight: bold;
  color:#EEE;
}
#artists{
  color:#AAA;
  height:60px;
}
#controls{
  position:absolute;
  top:0px;
  width:100%;
  height:50px;
  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0.3);
}
#controls label{
  float:left;
  width: 90px;
}

#btnPlay{
  margin:0px 10px;
  background-color: #37485C;
}
label.genredisabled.radio{
  color:#666;
}

.radio input[type="checkbox"].custom-checkbox:disabled + .icons{
 color:#666;
}

.radio #checkRock:checked + .icons .icon-checked{
  color: #CF3D58;
}
.radio #checkElectronic:checked + .icons .icon-checked{
  color: #437BC4;
}
.radio #checkPop:checked + .icons .icon-checked{
  color: #A727C3;
}
.radio #checkFolk:checked + .icons .icon-checked{
  color: #F0E44B;
}
.radio #checkHiphop:checked + .icons .icon-checked{
  color: #6AC75C;
}
.radio #checkJazz:checked + .icons .icon-checked{
  color: #E68E3E;
}

#btnDate{
  width:85px;
}
.cover{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background-color: rgba(0,0,0 , 0.75);
  z-index: 10;
}
.popup{
  position: fixed;
  padding: 15px 30px;
  left: 25%;
  top:15%;
  width:50%;
  height:300px;
  font-weight: lighter;
  text-align: justify;
}

.about{
  display: none;
}
.loading{
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width:200px;
  height:200px;
}
#aboutlink{
  position: absolute;
  bottom: 20px;
  right: 20px;
}
#aboutlink{
  color:#aaa;
}
#aboutlink:hover{
  color:#fff;
}


a {
  color: #fff;
  font-weight: lighter;
}

/*preloader
http://tobiasahlin.com/spinkit/
*/
.spinner {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #fff;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


@media (max-width:600px){
  .popup{
    left: 5%;
    top:5%;
    width:90%;
  }
  .popup P {
      font-size: 15px
    }

}
