/* comfortaa-regular - cyrillic-ext_cyrillic_latin_greek_latin-ext */

body {
  color: #ffffff;
  background-color: #000000;
  margin: 0px;
  overflow: hidden;
}
#info {
  position: absolute;
  pointer-events:none;
  bottom: 0px;
  width: 350px;
  margin-left: 20px;
  font-size: 13px;
  text-align: left;
  font-weight: bold;
  color:#EEE;
}
#artists{
  color:#AAA;
  height:60px;
}
#controls{
  position:absolute;
  top:0px;
  width:100%;
  height:50px;
  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0.3);;
}
#controls label{
  float:left;
  width: 90px;
}

.radio #checkRock:checked + .icons .icon-checked{
  color: #CF3D58;
}
.radio #checkElectronic:checked + .icons .icon-checked{
  color: #437BC4;
}
.radio #checkPop:checked + .icons .icon-checked{
  color: #A727C3;
}
.radio #checkFolk:checked + .icons .icon-checked{
  color: #F0E44B;
}
.radio #checkHiphop:checked + .icons .icon-checked{
  color: #6AC75C;
}
.radio #checkJazz:checked + .icons .icon-checked{
  color: #E68E3E;
}

#btnDate{
  width:85px;
}
a {
  color: #fff;
}
